$font-fam: -apple-system, BlinkMacSystemFont, sans-serif;
$card-img: "https://m.media-amazon.com/images/I/71hNFLmYx+L._SS500_.jpg";

$title: 3em;
$primary-text:2em;
$secondary-text:1.3em;
$normal-text: 1em;

$primary-color: black;
$secondary-color: darkgray;
